* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
header h1 {
  position: sticky;
  display: inline-block;
  float: left;
  color: #38a3a5;
  padding: 15px 24px;
}
header h1 a:hover {
  font-weight: bold;
}
nav ul {
  float: right;
}
nav ul li {
  padding: 24px;
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  color: #38a3a5;
}
nav ul li a:hover {
  font-weight: bold;
}
header {
  top: 0;
  height: 70px;
  background-color: #22577a;
  position: sticky;
}
h2 {
  color: #38a3a5;
}
.logo {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}
td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
table {
  max-width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: auto;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  left: 42%;
  display: flex;
}
.manual-btn {
  border: 2px solid #38a3a5;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #38a3a5;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 525px;
  left: 42%;
}
.navigation-auto div {
  border: 2px solid #38a3a5;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #38a3a5;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #38a3a5;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #38a3a5;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #38a3a5;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #38a3a5;
}
@media (max-width: 800px) {
  nav ul {
    display: none;
  }
}
